<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="top">
            <div class="showMonth">
              {{showMonth?.toLowerCase()}}
            </div>
            <div class="buttons">
              <div class="button" (click)="setCurrentMonth()">Dzisiaj</div>
              <div class="button" (click)="decreaseMonth()">Poprzedni miesiąc</div>
              <div class="button" (click)="increaseMonth()">Następny miesiąc</div>
            </div>
          </div>
          <div class="container">
            <table class='calendar-table' *ngIf="calendar">
              <thead>
              <tr>
                <th>poniedziałek</th>
                <th>wtorek</th>
                <th>środa</th>
                <th>czwartek</th>
                <th>piątek</th>
                <th>sobota</th>
                <th>niedziela</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of calendar | grid: 7; let i = index">
                <td class="calendar-day" [ngClass]="{'past-date': c.isPast, 'today': c.isToday}" *ngFor="let c of row; let j = index">
                  <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}"><strong>{{c.date.getDate()}}</strong> <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> {{monthNames[c.date.getMonth()].toLowerCase()}}</strong></div>
                  <div class="transfers" *ngIf = "(outgoingTransfers != null) || (incomingTransfers != null)">
                    <div class="transfer" *ngFor = "let item of transfersOut">
                      <div class="item" *ngIf = "
                      (c.date.getDate() == getDayFromShortDate(item)) &&
                      (c.date.getFullYear() == getYearFromShortDate(item)) &&
                      (c.date.getMonth()+1 == getMonthFromShortDate(item))
                      ">
                        <div class="number_out number tooltip" (click)="toggleDisplay(); getDayValue(c.date.getDate(), c.date.getMonth()+1, c.date.getFullYear())">
                          <mat-icon>remove</mat-icon>
                          <span class="tooltip_text">Transakcje wychodzące</span>
                        </div>
                      </div>
                    </div>
                    <div class="transfer" *ngFor = "let item of transfersIn">
                      <div class="item" *ngIf = "
                      (c.date.getDate() == getDayFromShortDate(item)) &&
                      (c.date.getFullYear() == getYearFromShortDate(item)) &&
                      (c.date.getMonth()+1 == getMonthFromShortDate(item))
                     ">
                        <div class="number_in number tooltip" (click)="toggleDisplay(); getDayValue(c.date.getDate(), c.date.getMonth()+1, c.date.getFullYear())">
                          <mat-icon>add</mat-icon>
                          <span class="tooltip_text">Transakcje przychodzące</span>
                        </div>
                      </div>
                    </div>
                    <div class="transfer" *ngFor = "let item of plansCalendar">
                      <div class="item" *ngIf = "
                      (c.date.getDate() == getDayFromShortDate(item)) &&
                      (c.date.getFullYear() == getYearFromShortDate(item)) &&
                      (c.date.getMonth()+1 == getMonthFromShortDate(item))
                     ">
                        <div class="number_plan number tooltip" (click)="toggleDisplay(); getDayValue(c.date.getDate(), c.date.getMonth()+1, c.date.getFullYear())">
                          <mat-icon>event_note</mat-icon>
                          <span class="tooltip_text">Zaplanowane wydatki</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal" [hidden]="isHidden">

          <div class="modal-content">
            <div class="modal-header" (click)="toggleDisplay()">
              <span class="close">&times;</span>
            </div>
            <div class="top">
              <div class="legend">
                <div class="legend-element"><div class="color element-out"></div><div class="legend-text">Wydatki</div></div>
                <div class="legend-element"><div class="color element-in"></div><div class="legend-text">Przychody</div></div>
                <div class="legend-element"><div class="color element-plan"></div><div class="legend-text">Planowane wydatki</div></div>
              </div>
              <div class="headers">
                <div class="element">Kwota transakcji</div>
                <div class="element">Opis</div>
                <div class="element">Data transakcji</div>
                <div class="element">Kategoria</div>
              </div>
            </div>
            <div class="modal-elements">
              <div class="modal-body" *ngFor="let item of outgoingTransfers">
                <div class="table-wrapper" *ngIf = "
                      (element == getDay(item.transfer_date).concat(getMonth(item.transfer_date)).concat(getYear(item.transfer_date)))
                  ">
                  <div class="element element-out">-{{(item.transfer_amount | number:'1.2-2')?.trim()?.replace(".", ",")}} PLN</div>
                  <div class="element element-out">{{item.description}}</div>
                  <div class="element element-out">{{item.transfer_date | date: 'dd.MM.y'}}</div>
                  <div class="element-not-center element-out"><mat-icon class="icon">{{getIconPlan(item.category)}}</mat-icon><span class="item-category">{{item.category}}</span></div>
                </div>
              </div>
              <div class="modal-body" *ngFor="let item of incomingTransfers">
                <div class="table-wrapper" *ngIf = "
                      (element == getDay(item.transfer_date).concat(getMonth(item.transfer_date)).concat(getYear(item.transfer_date)))
                  ">
                  <div class="element element-in">+{{(item.transfer_amount | number:'1.2-2')?.trim()?.replace(".", ",")}} PLN</div>
                  <div class="element element-in">{{item.description}}</div>
                  <div class="element element-in">{{item.transfer_date | date: 'dd.MM.y'}}</div>
                  <div class="element-not-center element-in"><mat-icon class="icon">{{getIconIn(item.category)}}</mat-icon><span class="item-category">{{item.category}}</span></div>
                </div>
              </div>
              <div class="modal-body" *ngFor="let item of plans">
                <div class="table-wrapper" *ngIf = "
                      (element == getDay(item.date).concat(getMonth(item.date)).concat(getYear(item.date)))
                  ">
                  <div class="element element-plan">{{(item.amount | number:'1.2-2')?.trim()?.replace(".", ",")}} PLN</div>
                  <div class="element element-plan">{{item.description}}</div>
                  <div class="element element-plan">{{item.date | date: 'dd.MM.y'}}</div>
                  <div class="element-not-center element-plan"><mat-icon class="icon">{{getIconPlan(item.plan_desc)}}</mat-icon><span class="item-category">{{item.plan_desc}}</span></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
