<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="top">
            <div class="showMonth">
              {{showMonth}}
            </div>
            <div class="buttons">
              <div class="button" (click)="setCurrentMonth()">Today</div>
              <div class="button" (click)="decreaseMonth()">Previous Month</div>
              <div class="button" (click)="increaseMonth()">Next Month</div>
            </div>
          </div>
          <div class="container">
            <table class='calendar-table' *ngIf="calendar">
              <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of calendar | grid: 7; let i = index">
                <td class="calendar-day" [ngClass]="{'past-date': c.isPast, 'today': c.isToday}" *ngFor="let c of row; let j = index">
                  <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}"><strong>{{c.date.getDate()}}</strong> <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> {{monthNames[c.date.getMonth()]}}</strong></div>
                  <div class="transfers" *ngIf = "(outgoingTransfers != null) || (incomingTransfers != null)">
                    <div class="transfer" *ngFor = "let item of transfersOut">
                      <div class="element" *ngIf = "
                      (c.date.getDate() == getDayFromShortDate(item)) &&
                      (c.date.getFullYear() == getYearFromShortDate(item)) &&
                      (c.date.getMonth()+1 == getMonthFromShortDate(item))
                      ">
                        <div class="number_out number">-></div>
                      </div>
                    </div>
                    <div class="transfer" *ngFor = "let item of transfersIn">
                      <div class="element" *ngIf = "
                      (c.date.getDate() == getDayFromShortDate(item)) &&
                      (c.date.getFullYear() == getYearFromShortDate(item)) &&
                      (c.date.getMonth()+1 == getMonthFromShortDate(item))
                     ">
                        <div class="number_in number"><-</div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
