<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <h1>Wpisz swoje planowane wydatki</h1>
          <div class="form">
            <form #addForm="ngForm" (ngSubmit)="onAddPlan(accountData)">
              <small>{{msg}}</small>
              <div class="inputs">
                <div class="label-element">
                  <label for="amount">Kwota</label>
                  <input type="text" name="amount" class="form-input" id="amount" placeholder="1,000,000.00" [(ngModel)]="plan.amount" #amount="ngModel" data-type="currency" pattern="^\d+(\.)\d{2}$" required>
                  <div *ngIf="amount.errors && amount.invalid && amount.errors?.['pattern']">
                    <small class="error">Proszę wpisać wartość dziesiętną</small>
                  </div>
                </div>
                <div class="label-element">
                  <label for="description">Kategoria</label>
                  <select id="description" name="description" class="form-input" [(ngModel)]="plan.plan_desc" #plan_desc="ngModel" required>
                    <option value="Rozrywka">Rozrywka</option>
                    <option value="Transport">Transport</option>
                    <option value="Finanse">Finanse</option>
                    <option value="Zdrowie i Uroda">Zdrowie i Uroda</option>
                    <option value="Dom i Rachunki">Dom i Rachunki</option>
                    <option value="Wydatki Podstawowe">Wydatki Podstawowe</option>
                    <option value="Jedzenie">Jedzenie</option>
                    <option value="Inne">Inne</option>
                  </select>
                </div>
              </div>
              <button [disabled]="addForm.form.invalid" type="submit" class="confirm">Dodaj</button>
            </form>
          </div>
          <div class="amounts">
            <div class="account">Stan konta: <span class="inside_value">{{sum}} PLN</span></div>
            <div class="planned" [ngClass]="sum >= plannedSum ? 'green' : 'red'">Planowane wydatki: <span class="inside_value">{{plannedSum}} PLN</span></div>
          </div>
          <div class="top">
            <div class="headers">
              <div class="element">Kwota</div>
              <div class="element">Kategoria</div>
              <div class="element"></div>
              <div class="element">Usuń plan</div>
            </div>
          </div>
          <div class="container">
            <div class="table" *ngFor = "let item of plans">
              <div class="table-wrapper">
                <div class="element value">{{item.amount | number:'1.2-2'}} PLN</div>
                <div class="element value">{{item.plan_desc}}</div>
                <div class="element value">
                  <mat-icon>{{getPlanIcon(item.plan_desc)}}</mat-icon>
                </div>
                <div class="element value delete" (click)="onDeletePlan(item.id)">Usuń</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

