<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="amounts">
            <div class="account">Stan konta: <span class="inside_value">{{sum}} PLN</span></div>
            <div class="planned" [ngClass]="sum >= plannedSum ? 'green' : 'red'">Planowane wydatki: <span
              class="inside_value">{{plannedSum}} PLN</span></div>
          </div>
          <div class="top">
            <div class="headers">
              <div class="element">Okres powtarzania transakcji</div>
              <div class="element">Kwota</div>
              <div class="element">Kategoria</div>
              <div class="element">Komentarz</div>
              <div class="element">Planowana data zapłaty</div>
              <div class="element">Akcje</div>
            </div>
          </div>
          <div class="container">
            <div class="table" *ngFor="let item of plans">
              <div class="table-wrapper">
                <div
                  class="element value">{{item.is_periodic === false ? 'Jednorazowy' : 'Każdy ' + item.cycle?.toLowerCase()}}</div>
                <div class="element value">{{item.amount | number:'1.2-2'}} PLN</div>
                <div class="element value tooltip">
                  <mat-icon>{{getPlanIcon(item.plan_desc)}}</mat-icon>
                  <span class="tooltip_text">{{item.plan_desc}}</span>
                </div>
                <div class="element value">{{item.description}}</div>
                <div class="element value">{{item.date | date:  'dd.MM.y'}}</div>
                <div class="element delete parent">
                  <div (click)="onCarryOutThePlan(item.id, item)">Zrealizuj plan</div>
                  <div (click)="openUpdateModal(item)">Edytuj</div>
                  <div (click)="onDeletePlan(item.id)">Usuń</div>
                </div>
              </div>
            </div>
          </div>
          <button class="add_plan" (click)="toggleDisplay();">Dodaj nowy plan</button>
        </div>
        <div class="modal" [hidden]="isHidden">
          <div class="modal-content">
            <div class="modal-header" (click)="toggleDisplay()">
              <span class="close">&times;</span>
            </div>
            <div class="top_modal">
              <h1>Wpisz swoje planowane wydatki</h1>
              <div class="form">
                <form #addForm="ngForm" (ngSubmit)="onAddPlan(accountData)">
                  <small>{{msg}}</small>
                  <div class="inputs">
                    <div class="label-element">
                      <label class="check">
                        <input type="checkbox" [value]="plan.is_periodic" name="is_periodic"
                               [(ngModel)]="plan.is_periodic">
                        <span class="check_span">Transakcja cykliczna</span>
                      </label>
                      <label *ngIf="plan.is_periodic" class="choose">
                        <label for="cycle">Częstotliwość co</label>
                        <select name="cycle" id="cycle" [(ngModel)]="plan.cycle" #cycle="ngModel" required>
                          <option value="Miesiąc">Miesiąc</option>
                          <option value="Dzień">Dzień</option>
                          <option value="Rok">Rok</option>
                        </select>
                      </label>
                    </div>
                    <div class="label-element">
                      <label for="amount">Kwota</label>
                      <input type="text" name="amount" class="form-input" id="amount" placeholder="1,000,000.00"
                             [(ngModel)]="plan.amount" #amount="ngModel" data-type="currency" pattern="^\d+(\.)\d{2}$"
                             required>
                      <div *ngIf="amount.errors && amount.invalid && amount.errors?.['pattern']">
                        <small class="error">Proszę wpisać wartość dziesiętną</small>
                      </div>
                    </div>
                    <div class="label-element">
                      <label for="description">Kategoria</label>
                      <select id="description" name="description" class="form-input" [(ngModel)]="plan.plan_desc"
                              #plan_desc="ngModel" required>
                        <option value="Rozrywka">Rozrywka</option>
                        <option value="Transport">Transport</option>
                        <option value="Finanse">Finanse</option>
                        <option value="Zdrowie">Uroda</option>
                        <option value="Dom">Dom</option>
                        <option value="Wydatki Podstawowe">Wydatki Podstawowe</option>
                        <option value="Jedzenie na Mieście">Jedzenie na Mieście</option>
                        <option value="Samochód">Samochód</option>
                        <option value="Uroda">Uroda</option>
                        <option value="Ubrania">Ubrania</option>
                        <option value="Zakupy">Zakupy</option>
                        <option value="Inwestycje">Inwestycje</option>
                        <option value="Prezent">Prezent</option>
                        <option value="Sport">Sport</option>
                        <option value="Edukacja">Edukacja</option>
                        <option value="Dzieci">Dzieci</option>
                        <option value="Ogród">Ogród</option>
                        <option value="Kredyt">Kredyt</option>
                        <option value="Podatki">Podatki</option>
                        <option value="Rachunki">Rachunki</option>
                        <option value="Inne">Inne</option>
                      </select>
                    </div>
                    <div class="label-element">
                      <label for="amount">Opis</label>
                      <input type="text" name="description_external" class="form-input" id="description_external"
                             [(ngModel)]="plan.description" #description="ngModel" required>
                    </div>
                    <div class="label-element">
                      <label for="amount">Oczekiwana data płatności</label>
                      <input type="date" name="date" class="form-input" id="date" [(ngModel)]="plan.date"
                             #date="ngModel" required>
                    </div>
                  </div>
                  <button [disabled]="addForm.form.invalid" type="submit" class="confirm">Dodaj</button>
                </form>
              </div>
            </div>
            <div class="modal-elements">
              <div class="modal-body">
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
        <div class="modal" [hidden]="isHiddenUpdate">
          <div class="modal-content">
            <div class="modal-header" (click)="toggleDisplayUpdate()">
              <span class="close">&times;</span>
            </div>
            <div class="top_modal">
              <h1>Edytuj planowane wydatki</h1>
              <div class="form">
                <form #updateForm="ngForm" (ngSubmit)="onUpdatePlan(updateForm.value)">
                  <small>{{msg}}</small>
                  <div class="inputs">
                    <input type="hidden" name="id" id="id" ngModel="{{editPlan?.id}}">
                    <input type="hidden" name="user_id" id="user_id" ngModel="{{editPlan?.user_id}}">
                    <div class="label-element">
                      <label class="check">
                        <input type="checkbox" name="is_periodic" [value]="editPlan?.is_periodic"
                               [(ngModel)]="editPlan.is_periodic">
                        <span class="check_span">Transakcja cykliczna {{editPlan?.is_periodic}}</span>
                      </label>
                      <label *ngIf="editPlan?.is_periodic" class="choose">
                        <label for="cycle">Częstotliwość co</label>
                        <select name="cycle" id="cycleEdit" ngModel="{{editPlan?.cycle}}" #cycle="ngModel" required>
                          <option value="Miesiąc">Miesiąc</option>
                          <option value="Dzień">Dzień</option>
                          <option value="Rok">Rok</option>
                        </select>
                      </label>
                    </div>
                    <div class="label-element">
                      <label for="amount">Kwota</label>
                      <input type="text" name="amount" class="form-input" id="amount_up" placeholder="1,000,000.00"
                             ngModel="{{editPlan?.amount | number:'1.2-2'}}" #amount="ngModel" data-type="currency"
                             pattern="^\d+(\.)\d{2}$" required>
                      <div *ngIf="amount.errors && amount.invalid && amount.errors?.['pattern']">
                        <small class="error">Proszę wpisać wartość dziesiętną</small>
                      </div>
                    </div>
                    <div class="label-element">
                      <label for="description">Kategoria</label>
                      <select id="plan_desc_up" name="plan_desc" class="form-input" ngModel="{{editPlan?.plan_desc}}"
                              #plan_desc="ngModel" required>
                        <option value="Rozrywka">Rozrywka</option>
                        <option value="Transport">Transport</option>
                        <option value="Finanse">Finanse</option>
                        <option value="Zdrowie">Zdrowie</option>
                        <option value="Dom">Dom</option>
                        <option value="Wydatki Podstawowe">Wydatki Podstawowe</option>
                        <option value="Jedzenie na Mieście">Jedzenie na Mieście</option>
                        <option value="Samochód">Samochód</option>
                        <option value="Uroda">Uroda</option>
                        <option value="Ubrania">Ubrania</option>
                        <option value="Zakupy">Zakupy</option>
                        <option value="Inwestycje">Inwestycje</option>
                        <option value="Prezent">Prezent</option>
                        <option value="Sport">Sport</option>
                        <option value="Edukacja">Edukacja</option>
                        <option value="Dzieci">Dzieci</option>
                        <option value="Ogród">Ogród</option>
                        <option value="Kredyt">Kredyt</option>
                        <option value="Podatki">Podatki</option>
                        <option value="Rachunki">Rachunki</option>
                        <option value="Inne">Inne</option>
                      </select>
                    </div>
                    <div class="label-element">
                      <label for="amount">Opis</label>
                      <input type="text" name="description" class="form-input" id="description_up"
                             ngModel="{{editPlan?.description}}" #description="ngModel" required>
                    </div>
                    <div class="label-element">
                      <label for="amount">Oczekiwana data płatności</label>
                      <input type="date" name="date" class="form-input" id="date_up"
                             ngModel="{{editPlan?.date | date:'yyyy-MM-dd'}}" #date="ngModel" required>
                    </div>
                  </div>
                  <button [disabled]="updateForm.form.invalid" type="submit" class="confirm">Dodaj</button>
                </form>
              </div>
            </div>
            <div class="modal-elements">
              <div class="modal-body">
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
        <div class="modal" [hidden]="isHiddenPlan">
          <div class="modal-content">
            <div class="modal-header" (click)="toggleDisplayPlan()">
              <span class="close">&times;</span>
            </div>
            <div class="top_modal">
              <h1>Zrealizowano plan</h1>
              <div class="form">
                <form #updateFormUser="ngForm" (ngSubmit)="onUpdateAccount(updateFormUser.value)">
                  <small>{{msg}}</small>
                  <div class="inputs">
                    <input type="hidden" name="id" id="id_user" ngModel="{{user?.id}}">
                    <input type="hidden" name="firstname" id="firstname" ngModel="{{user?.firstname}}">
                    <input type="hidden" name="lastname" id="lastname" ngModel="{{user?.lastname}}">
                    <input type="hidden" name="password" id="password" ngModel="{{user?.password}}">
                    <input type="hidden" name="email" id="email" ngModel="{{user?.email}}">
                    <input type="hidden" name="account_balance" id="account_balance" ngModel="{{onUpdateAmount(this.incomingTransfersList, this.outgoingTransfersList , this.outgoingTransfers.transfer_amount, null, true)}}">
                  </div>
                  <button [disabled]="updateFormUser.form.invalid" type="submit" class="confirm">Aktualizuj stan konta</button>
                </form>
              </div>
              <div class="modal-elements">
                <div class="modal-body">
                </div>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

