<div class="wrapper">
  <div class="left-menu">
    <div class="menu">
      <div class="logo">
        <img class="logoImage" src="assets/images/rv.png" alt="logo">
      </div>
      <div class="list">
        <ul>
          <li class="element" [routerLink]="['/home']">Strona Główna</li>
          <li class="element" [routerLink]="['/history']">Transakcje</li>
          <li class="element" [routerLink]="['/diagrams']">Zestawienia Transakcji</li>
          <li class="element" [routerLink]="['/limit']">Limity wydatków</li>
          <li class="element" [routerLink]="['/plan']" >Zaplanuj Swoje Wydatki</li>
          <li class="element" [routerLink]="['/crypto']">Kryptowaluty</li>
          <li class="element" [routerLink]="['/calendar']">Kalendarz</li>
          <li class="element" [routerLink]="['/converter']">Przelicznik walut</li>
        </ul>
      </div>
    </div>
  </div>
</div>
