<div class="wrapper">
  <div class="left-menu">
    <div class="menu">
      <div class="logo">
        <img class="logoImage" src="assets/images/rv.png" alt="logo">
      </div>
      <div class="list">
        <ul>
          <li class="element" [routerLink]="['/home']">Home</li>
          <li class="element" [routerLink]="['/history']">Transfers History</li>
          <li class="element" >Transfers Analysis</li>
          <li class="element" >Plan Your Transfers</li>
          <li class="element"  [routerLink]="['/crypto']">Crypto</li>
          <li class="element" >Stock Market</li>
          <li class="element" >Calendar</li>
          <li class="element" >Currency Converter</li>
        </ul>
      </div>
      <div class="account">
        <button class="btn">Account</button>
        <button [routerLink]="['/logout']" class="btn">Logout</button>
      </div>
    </div>
  </div>
</div>
