<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="top">
          </div>
          <div class="container">
            <div class="table">
              <div class="table-wrapper">
                <div class="element" [routerLink]="['/home']">
                  <p class="hello">Hello {{firstname}} {{lastname}},</p>
                  <p class="hello">have a nice day!</p>
                </div>
                <div class="element" [routerLink]="['/diagrams']">
                  <div class="center">
                    <p class="desc">You have</p>
                    <div class="value">${{accountBalance}}</div>
                    <p class="desc2">in your account</p>
                  </div>
                </div>
                <div class="element" [routerLink]="['/plan']">
                  <div class="center">
                    <p class="desc">You planned</p>
                    <div class="value">${{plannedSum}}</div>
                    <p class="class2">for the next expenses</p>
                  </div>
                </div>
              </div>
              <div class="table-wrapper">
                <div class="element" [routerLink]="['/history']">
                  <div class="center">
                    <p class="desc">You spent</p>
                    <div class="value">${{outgoingTransfersLastMonth}}</div>
                    <p class="class2">last month</p>
                  </div>
                </div>
                <div class="element" [routerLink]="['/history']">
                  <div class="center">
                    <p class="desc">You received</p>
                    <div class="value">${{incomingTransfersLastMonth}}</div>
                    <p class="class2">last month</p>
                  </div>
                </div>
                <div class="element" [routerLink]="['/diagrams']">
                  <div class="center">
                    <p class="desc">you spend the most on</p>
                    <div class="value">{{mostPopularCategory}}</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

