<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="top">
          </div>
          <div class="container">
            <div class="table" *ngFor = "let item of accountData">
              <div class="table-wrapper">
                <div class="element">{{item.firstname}}</div>
                <div class="element">{{item.lastname}}</div>
                <div class="element">{{item.email}}</div>
                <div class="element">${{item.accountBalance | number:'1.2-2'}}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

