<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="top">
          </div>
          <div class="container">
            <div class="table">
              <div class="table-wrapper">
                <div class="element" [routerLink]="['/home']">
                  <p class="hello">Witaj {{firstname}} {{lastname}},</p>
                  <p class="hello">miłego dnia!</p>
                </div>
                <div class="element" [routerLink]="['/diagrams']">
                  <div class="center">
                    <p class="desc">Masz</p>
                    <div class="value">{{accountBalance}} PLN</div>
                    <p class="desc2">na swoim koncie</p>
                  </div>
                </div>
                <div class="element" [routerLink]="['/plan']">
                  <div class="center">
                    <p class="desc">Zaplanowano</p>
                    <div class="value">{{plannedSum}} PLN</div>
                    <p class="class2">na nadchodzące wydatki</p>
                  </div>
                </div>
              </div>
              <div class="table-wrapper">
                <div class="element" [routerLink]="['/history']">
                  <div class="center">
                    <p class="desc">Wydano</p>
                    <div class="value">{{outgoingTransfersLastMonth}} PLN</div>
                    <p class="class2">w ostatnim miesiącu</p>
                  </div>
                </div>
                <div class="element" [routerLink]="['/history']">
                  <div class="center">
                    <p class="desc">Otrzymano</p>
                    <div class="value">{{incomingTransfersLastMonth}} PLN</div>
                    <p class="class2">w ostatnim miesiącu</p>
                  </div>
                </div>
                <div class="element" [routerLink]="['/diagrams']">
                  <div class="center">
                    <p class="desc">Wydajesz najwięcej na</p>
                    <div class="value">{{mostPopularCategory}}</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

