<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="top">
          </div>
          <div class="container">
            <div class="wrap">
              <div class="bar-diagrams" [hidden]="!isHidden">
                <h2>Twoje ostatnie transakcje</h2>
                <div id="divChart" style="min-width: 500px;">
                  <div style="display: block;">
                    <canvas id="baseChart" width="1200" height="400">
                      {{chart}}
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="circle-diagrams" [hidden]="isHidden">
                <h2>Kategorie</h2>
                <div class="circles">
                  <div style="display: block; width: 300px; height: 300px; margin: 20px auto 0">
                    <h3>Przelewy przychodzące</h3>
                    <canvas id="secondChart">
                      {{chartIncoming}}
                    </canvas>
                  </div>
                  <div style="display: block; width: 350px; height: 300px; margin: 20px auto 0">
                    <h3>Przelewy wychodzące</h3>
                    <canvas id="thirdChart">
                      {{chartIncoming}}
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="btns">
                <div class="btn" (click)="toggleDisplay();">Zobacz następny diagram</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
