.container {
  width: 100%;
  margin-bottom: 30px;
}
.search {
  margin: 30px calc(50% - 250px) 0;
  width: 500px;
  height: 40px;
  font-size: 30px;
  border: none;
  border-bottom: var(--primary) 2px solid;
}
.search:focus {
  color: var(--primary);
  border: none;
  border-bottom: var(--primary) 2px solid;
  background-color: transparent;
  resize: none;
  outline: none;
}
