<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="top">
          </div>
          <div class="container">
            <h1>Przelicznik walut</h1>
            <div class="currency">
              <div class="first">
                <p>Waluta początkowa</p>
                <div class="select-currency">
                  <img src="https://flagcdn.com/h40/{{countryFrom}}.png" alt="flag">
                  <select #from (change)="onSelectedFrom(from.value)" [(ngModel)]="selectedFrom">
                    <option *ngFor="let code of countries" value="{{code.currencyCode}}">{{code.countryCode}}</option>
                  </select>
                </div>
              </div>
              <div class="second">
                <p>Waluta docelowa</p>
                <div class="select-currency">
                  <img src="https://flagcdn.com/h40/{{countryTo}}.png" alt="flag">
                  <select #to (change)="onSelectedTo(to.value)" [(ngModel)]="selectedTo">
                    <option *ngFor="let code of countries" [value]="code.currencyCode">{{code.countryCode}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="amounts">
              <input class="input" type="text" value="0.00" min="0.00" max="1.00" step="0.01" #getVal (change)="onType(getVal.value)" [(ngModel)]="type" #element="ngModel" pattern="^\d+(\.)\d{2}$" data-type="currency">
              <div *ngIf="element.errors && element.invalid && element.errors?.['pattern']">
                <small class="error">Proszę wprowadzić wartości dziesiętne</small>
              </div>
              <div class="exchange">{{type.toString().trim().replace(".", ",")}} {{selectedFrom}} = {{finalValue.toString().trim().replace(".", ",")}} {{selectedTo}}</div>
              <button class="confirm" [disabled]="element.invalid" (click)="getCurrency()">Przelicz</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

