@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #eff0f4;
  --primary_dark: #1181B2;
  --primary: #3399ff;
  --secondary_dark: #212221;
  --secondary: #ffffff;
  --error: #ff0000;
  --text_dark: #aaaaaa;
  --text: #000000;


  --widthModal: 1000px;
  --heightModal: 600px;
  --marginOfElemenrs: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary);
  color: var(--text);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(51,151,255,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(51,151,255,0.4);
}
