<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="header">Outgoing Transfers</div>
          <div class="top">
            <div class="headers">
              <div class="element">Transfer Amount</div>
              <div class="element">Destination Account</div>
              <div class="element">Transfer Date</div>
              <div class="element">Category</div>
              <div class="element"></div>
            </div>
          </div>
          <div class="container">
            <div class="table" *ngFor = "let item of outgoingTransfers">
              <div class="table-wrapper">
                <div class="element">${{item.transfer_amount | number:'1.2-2'}}</div>
                <div class="element">{{item.destination_account}}</div>
                <div class="element">{{item.transfer_date | date: 'h:mm a, M/d/yy'}}</div>
                <div class="element-not-center"><mat-icon>{{getPlanIcon(item.category)}}</mat-icon>{{item.category}}</div>
                <div class="element"><mat-icon> call_made</mat-icon></div>
              </div>
            </div>
          </div>
          <div class="header">Incoming Transfers</div>
          <div class="top">
            <div class="headers">
              <div class="element">Transfer Amount</div>
              <div class="element">Sender Account</div>
              <div class="element">Transfer Date</div>
              <div class="element">Category</div>
              <div class="element"></div>
            </div>
          </div>
          <div class="container">
            <div class="table" *ngFor = "let item of incomingTransfers">
              <div class="table-wrapper">
                <div class="element">${{item.transfer_amount | number:'1.2-2'}}</div>
                <div class="element">{{item.sender_account}}</div>
                <div class="element">{{item.transfer_date | date: 'h:mm a, M/d/yy'}}</div>
                <div class="element-not-center"><mat-icon>{{getPlanIcon(item.category)}}</mat-icon>{{item.category}}</div>
                <div class="element"><mat-icon> call_received</mat-icon></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
