<div class="wrapper">
  <div class="left-nav">
    <app-nav></app-nav>
  </div>
  <div class="flex_elements">
    <div class="top-nav">
      <app-topnav></app-topnav>
    </div>
    <div class="inner-row">
      <div class="inner-col">
        <div class="content">
          <div class="header">Przelewy Wychodzące</div>
          <div class="top">
            <div class="headers">
              <div class="element">Kwota Przelewu</div>
              <div class="element">Konto Odbiorcy</div>
              <div class="element">Data Przelewu</div>
              <div class="element">Kategoria</div>
            </div>
          </div>
          <div class="container">
            <div class="table" *ngFor = "let item of outgoingTransfers">
              <div class="table-wrapper">
                <div class="element first"><mat-icon>remove</mat-icon>{{item.transfer_amount | number:'1.2-2'}} PLN</div>
                <div class="element">{{item.destination_account}}</div>
                <div class="element">{{item.transfer_date | date: 'HH:mm, dd.MM.y'}}</div>
                <div class="element-not-center"><mat-icon>{{getPlanIcon(item.category)}}</mat-icon>{{item.category}}</div>
              </div>
            </div>
          </div>
          <div class="header">Przelewy Przychodzące</div>
          <div class="top">
            <div class="headers">
              <div class="element">Kwota Przelewu</div>
              <div class="element">Konto Odbiorcy</div>
              <div class="element">Data Przelewu</div>
              <div class="element">Kategoria</div>
            </div>
          </div>
          <div class="container">
            <div class="table" *ngFor = "let item of incomingTransfers">
              <div class="table-wrapper">
                <div class="element first"><mat-icon>add</mat-icon>{{item.transfer_amount | number:'1.2-2'}} PLN</div>
                <div class="element">{{item.sender_account}}</div>
                <div class="element">{{item.transfer_date | date: 'HH:mm, dd.MM.y'}}</div>
                <div class="element-not-center"><mat-icon>{{getPlanIcon(item.category)}}</mat-icon>{{item.category}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
