/*flexbox*/

.wrapper {
  display: flex;
  flex-direction: row;
}

.left-nav {
  flex: 1;
}

.flex_elements {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.inner-row {
  display: flex;
  flex-direction: row;
}
.inner-col {
  flex: 4;
}

/*others*/

.content {
  margin: var(--marginOfElemenrs);
  width: calc(100% - (2 * var(--marginOfElemenrs)));
  height: calc(92vh - (2 * var(--marginOfElemenrs)));
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.25);
  background-color: var(--secondary);
  border-radius: 10px;
}

.container {
  width: 90%;
  margin: 20px auto 0;
  height: 60%;
  overflow-y: scroll;
}

.headers {
  display: flex;
  font-weight: 700;
  width: 90%;
  margin: 0 auto;
}

.table-wrapper {
  display: flex;
}

.element {
  width: 20%;
  height: 5vh;
  line-height: 5vh;
  margin: 10px auto 0;
  text-align: center;
}
