<div class="wrapper">
  <div class="top-menu">
    <div class="menu-bar">
      <div class="list-bar">
        <ul>
          <li class="inline-list"><!--Stan konta: {{accountBalance}} PLN-->{{name}}</li>
          <li class="inline-list"></li>
          <li class="inline-list"></li>
          <li class="inline-list">
            <div class="account">
              <button [routerLink]="['/logout']" class="btn">Wyloguj się</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
