<div class="wrapper">
  <div class="top-menu">
    <div class="menu-bar">
      <div class="list-bar">
        <ul>
          <li class="inline-list left">{{name}}</li>
          <li class="inline-list center"></li>
          <li class="inline-list center"></li>
          <li class="inline-list right">
            <div class="account">
              <button [routerLink]="['/logout']" class="btn">Wyloguj się</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
