<div class="wrapper">
  <div class="top-menu">
    <div class="menu-bar">
      <div class="list-bar">
        <ul>
          <li class="inline-list"><img src="https://flagcdn.com/h24/us.png" alt="flag">USD : {{mostPopularValues[0]}} {{selectedFrom}}</li>
          <li class="inline-list"><img src="https://flagcdn.com/h24/eu.png" alt="flag">EUR : {{mostPopularValues[1]}} {{selectedFrom}}</li>
          <li class="inline-list"><img src="https://flagcdn.com/h24/gb.png" alt="flag">GBP : {{mostPopularValues[2]}} {{selectedFrom}}</li>
          <li class="inline-list"><img src="https://flagcdn.com/h24/ch.png" alt="flag">CHF : {{mostPopularValues[3]}} {{selectedFrom}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
